body {
    background-color: lightcyan;
}

h1 {
    text-align: center;
    color: #484848;
}

img {
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: darkslategray;
    font-family: 'Brush Script MT';
}

h3 {
    text-align: center;
    color: #484848;
}

li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

